name: Pipeline CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379

      mongo:
        image: mongo:6.0
        ports:
          - 27017:27017

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Wait for MongoDB to be ready
        run: |
          for i in {1..10}; do
            if mongo --eval "db.adminCommand('ping')"; then
              echo "MongoDB is ready"
              break
            fi
            echo "â³ Waiting for MongoDB to be ready..."
            sleep 5
          done

      - name: Set DATABASE_URL env variable
        run: echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> $GITHUB_ENV

      - name: Generate Prisma client
        run: npx prisma generate

      - name: Push Prisma schema to DB
        run: npx prisma db push

      - name: Run the app
        run: node index.js &

